.mobile-app-container {
    display: none;
}

.page-grid {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    margin: 0 auto;
}

.grid-item {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    
    .desktop-app-container {
        display: none;
    }

    .mobile-app-container {
        display: block;
        text-align: center;
    }

}
