.modal-container {
    display: block;
    position: fixed;
    width: 360px;
    height: 60vh;
    max-height: 500px;
    top: 20vh;
    left: 50%;
    margin-left: -180px;
    bottom: 20vh;
    text-align: center;
    background-color: #202020;
    border: 1px solid black;
}

.modal-container h1 {
    padding-top: 10px;
}

.modal-container img {
    width: 80%;
}

.modal-button-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#modal-button {
    position: relative;
    width: 40%;
    padding: 8px 0;
    margin: 8px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background-color: #4bfa4b;
}

#modal-button:hover {
    cursor: pointer;
}

#modal-button:focus {
    outline: none;
}

#modal-button:active {
    box-shadow: 0 0 20px #000
}

@media only screen and (max-width: 480px) {

    .modal-container {
        width: 300px;
        margin-left: -150px;
    }

}
