@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./fonts/Nunito/Nunito-Bold.ttf');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
